.about {
    padding-bottom: 25px;
    position: relative;

    #toAbout {
        position: absolute;
        top: -45px;
    }
    .makeOpaque {
        background: white;
    }
    img.gaby {
        max-width: 230px;
        border-radius: 50%;
        margin: 0 auto;
        border: 13px solid white;
    }
    .imageHolder.icon img {
        width: 45%;
        position: absolute;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    .imageHolder.bottom {
        bottom: -53px;
    }
    h2 {
        position: relative;
        background: white;
    }
    p {
        color: gray;
        max-width: 850px;
        margin: 10px auto;
    }
    a.button {
        position: relative;
        margin: 7px auto;
        display: inline-block;
    }
    .wow.line1 {
        position: absolute;
        height: 98px;
        width: 2px;
        background: rgb(197, 197, 197);
        top: 34px;
        left: 50%;
        z-index: -1;
    }
    .wow.line2 {
        position: absolute;
        height: 135px;
        width: 2px;
        background: rgb(197, 197, 197);
        bottom: -30px;
        left: 50%;
        z-index: -1;
    }

}