.about {
    padding-bottom: 25px;
    position: relative;

    .imageHolder {
        background: #00A2FF;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border: 12px solid white;
        position: relative;
        bottom: 30px;
    }
    img.gaby {
        max-width: 200px;
    }
    img.icon {
        width: 45%;
        position: absolute;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    .imageHolder.bottom {
        bottom: -53px;
    }
    h2 {
        position: relative;
    }
    h2::before {
        content: '';
        position: absolute;
        background: #e0e0e0;
        width: 1.5px;
        height: 37px;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    h2::after {
        content: '';
        position: absolute;
        background: #e0e0e0;
        width: 1.5px;
        height: 25px;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        max-width: 800px;
        margin: 10px auto;
        line-height: 2.1rem;
    }
    button {
        position: relative;
    }
    button::after {
        content: '';
        position: absolute;
        background: #e0e0e0;
        width: 1.5px;
        height: 77px;
        bottom: -84px;
        left: 50%;
        transform: translateX(-50%);
    }

}