.contact {
    padding: 50px;
    position: relative;

    #toContact {
        position: absolute;
        top: -50px;
    }
    a.mailTo {
        margin-bottom: 0;
        font-size: 1.8rem;
        color: #2c3e50;
    }
    a.mailTo:hover, a.mailTo:focus, a.mailTo:active {
        color: #00A2FF;
    }
    a i  {
        margin-top: 8px;
        font-size: 3rem;
    }
    a {
        color: #ed4a35;
        margin-bottom: 20px;
    }
    ul {
        margin-bottom: 40px;
    }
    li {
        margin-right: 5px;
    }
    li a {
        color: #ed4a35;
    }
    // li:nth-of-type(2) a {
    //     color: rgb(255, 38, 0);
    // }
    // li:nth-of-type(3) a {
    //     color: rgb(255, 0, 106);
    // }
    // li:nth-of-type(4) a {
    //     color: rgb(228, 0, 171);
    // }
    // li:nth-of-type(4) {
    //     margin-right: 0;
    // }
    .imageHolder {
        background: #00A2FF;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border: 12px solid white;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .imageHolder.icon img {
        width: 45%;
        position: relative;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    h2 {
        position: relative;
        margin: 51px 0 35px 0;
        background: white;
    }
    .wow {
        position: absolute;
        height: 100px;
        width: 2px;
        background: rgb(197, 197, 197);
        top: 0;
        left: 50%;
    }
    h3:first-of-type {
        margin-bottom: 0;
    }
    h3:last-of-type {
        color: #00A2FF;
        margin: 40px auto;
    }
    form {
        margin-top: 20px;
    }
    .container {
        float: left;
        width: calc(50% - 15px);
    }
    .container:first-of-type {
        margin-right: 30px;
    }
    .container:last-of-type {
        width: 100%;
    }
    input[type='text'] {
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 4px;
        border: 1.5px solid lightgrey;
    }
    textarea {
        font-size: 1.4rem;
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1.5px solid lightgrey;
        resize: none;
    }
    label {
        font-size: 1.2rem;
        text-align: left;
        display: block;
        width: 93%;
        margin: 2px 0 6px 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    button:hover, button:focus, button:active {
        background: rgb(0, 140, 241);
        border-color: rgb(0, 140, 241);
        color: white;
        top: -1px;
        box-shadow: 0px 5px 12px rgba(0,0,0, 0.3);
    }
}