.portfolio {
    padding: 25px 0 70px 0;
    margin: 0 auto;
    position: relative;

    .imageHolder {
        position: relative;
        top: 40px;
        background: transparent;
        width: 40%;
        float: left;
    }
    .content {
        width: 60%;
        float: left;
    }
    .imageHolder.icon {
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0;
        background: rgb(0, 140, 241);
    }
    img.icon {
        width: 45%;
        position: absolute;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    .container {
        margin: 25px auto;
    }
    .container:nth-child(2n + 1) .imageHolder {
        float: right;
    }
    .content {
        padding: 20px;
        text-align: left;
    }
    h3 {
        margin-bottom: 0;
    }
    p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: gray;
    }
    p.tools {
        margin: 0;
        color: rgb(0, 132, 214);
    }
    a.button {
        color: white;
        display: inline-block;
        margin: 0;
    }
    .content button:first-of-type {
        margin-right: 5px;
    }
}