.skills {
    background: linear-gradient(45deg, rgb(255, 145, 0),rgb(224, 0, 175));
    padding: 50px 0;
    color: white;

    img.icon {
        width: 45%;
        position: relative;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    h2 {
        margin: 45px auto 55px auto;
    }
    h3 {
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
    .techSkills {
        margin: 42px 0;
    }
    .techSkills i {
        font-size: 8rem;
    }
    .techSkills li {
        width: 18%;
        margin-bottom: 20px;
    }
    li img {
        max-width: 90px;
        display: inline-block;
    }
}