.skills {
    background: linear-gradient(45deg, #F57C00,rgb(224, 0, 131));;
    padding: 50px 0;
    color: white;
    position: relative;

    #toSkills {
        position: absolute;
        top: -31px;
        height: 2px;
        background: black;
    }

    img.icon {
        width: 45%;
        position: relative;
        top: 18px;
        left: 18px;
        transform: translate(-50%,-50%);
    }
    h2 {
        margin: 30px auto 55px auto;
    }
    h3 {
        text-transform: none;
        font-size: 2rem;
        text-shadow: 0px 0.5px 10px rgba(0,0,0, 0.2);
    }
    p {
        margin-top: 0;
    }
    i {
        font-size: 7rem;
    }
    li {
        width: 18%;
        margin-bottom: 20px;
    }
    img {
        max-width: 68px;
        display: inline-block;
    }
}