.topBar {
    background: rgb(21, 35, 53);
    font-family: 'Montserrat', sans-serif;
    padding-top: 25px;
    
    a {
        font-size: 1.4rem;
        color: #2c3e50;
    }
    i {
        color: rgb(0, 140, 241);
        margin: 0 10px;
        font-size: 1.5rem;
    }
    img {
        width: 170px;
    }
    nav {
        background: white;
        align-content: center;

        ul {
            width: 50%;
            text-align: right;
            display: inline-block;
            float: right;
        }
        li {
            text-align: right;
            // width: 90px;
            margin: 19px 0px 20px 2.5%;
            position: relative;
            // top: -18px;
            text-transform: uppercase;
        }
        ul:last-of-type {
            float: left;
        }
        li.logo {
            min-width: 150px;
            text-transform: none;
            margin: 22px 15px 0 15px;
            top: 0;
            left: -10px;
        }
        li.logo a {
            color: #00A2FF;
            font-size: 3rem;
            position: relative;
            top: -12px;
        }
    }
    .social {
        padding: 8px;
        text-align: left;
    }
    p {
        font-size: 3rem;
        color: rgb(214, 0, 82);
        margin: 20px 0;
    }
    
}